* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background: #F4F4F4;
}

.center-align {
  display: flex;
  justify-content: center;
}
