
.grid-panel {
  height: 600px;
  width: 100%;
  overflow: auto;
}

.gray-text {
  color: #696969;
}

.txtBox {
  display: inline-block;
  float: right;
  color: #808080;
}

.radios {
  display: inline-block;
  float: left;
  width: 30%;
}

.sendButton {
  display: inline-block;
  float:left;
  margin-top: 27px;
}

.add-user-grid {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  width: 100%;
  height: 40px;
}

.span-flex {
  -webkit-flex: 1.3 0 0;
   flex: 1.3 0 0;
}

.input-flex {
  -webkit-flex: 1 0 0;
   flex: 1 0 0;
   padding-bottom: .3em;
}
.span-text {
  font-size: 1.3em;
  color: 	#696969;
  margin-left: .6em;
  margin-bottom: .6em;
}

.input-style {
  margin-bottom: .5em;
}

.formDiv {
  height: 200px;
  width: 100%;
}

.shadowBox {
-moz-box-shadow: 0 0 5px 5px #888;
-webkit-box-shadow: 0 0 5px 5px#888;
box-shadow: 0 0 5px 5px #888;
}
