
.grid-panel {

height: 600px;
  width: 100%;
}

.gray-text {
  color: #696969;
}

.add-user {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;

  width: 100%;

}

.span-text {
  -webkit-flex: 1.45 0 0;
   flex: 1.45 0 0;
  font-size: 1.3em;
  color: 	#696969;
  padding-top: .3em;
  margin-left: .6em;
  margin-bottom: .3em;
}

.input-name {
  -webkit-flex: 1 0 0;
   flex: 1 0 0;
  -webkit-justify-content: flex-end;
   justify-content: flex-end;
  padding-top: 5px;
  margin-bottom: .5em;
  color: gray;
  background: #F8F8FF;
}

.user-grid {
  padding: 3% 5% 2%;
  width: 100%;
  overflow: auto;
  height:200px;
}

.bottom {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  margin-top: 2em;
}

.radios {
  -webkit-flex: 1 0 0;
   flex: 1 0 0;
}

.sendButton {
  display: inline-block;
  float:left;
  margin-top: 27px;
}

.txt-flex{
  -webkit-flex: 1 0 0;
   flex: 1 0 0;
}

.txt-box {
  display: block;
  padding: 4px 0px 0px 5px;
  color: #808080;
  background: #F8F8FF;
}

.shadowBox {
-moz-box-shadow: 0 0 5px 5px #888;
-webkit-box-shadow: 0 0 5px 5px#888;
box-shadow: 0 0 5px 5px #888;
}
