
#search-div {
  width: 30%;
  margin-left: .5em;
}

/* enable absolute positioning */
.inner-addon {
    position: relative;
    color: #808080;
}

/* style icon */
.inner-addon .fa-search {
  position: absolute;
  margin: 10px;
  pointer-events: none;
}

/* align icon */
#left-addon .fa-search {
  left:  5px;
}

/* add padding  */
#left-addon input {
  padding-left: 40px;
}
.width {
  width: 280%;
}

.el-spacing {
  margin: 6px 2px 10px 0px;
 }

::-webkit-input-placeholder {
   font-style: italic;
}
:-moz-placeholder {
   font-style: italic;
}
::-moz-placeholder {
   font-style: italic;
}
:-ms-input-placeholder {
   font-style: italic;
}
