#navbar {
  background: #fff;
  height: 4.5em;
  width: 81%;
  border-bottom: 1px solid #CCCCCC;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;

  .dropdown {
    position: relative;

    .dropdown-menu {
      position: absolute;
      display: none;
      top: 100%;
      left: 0;
      padding: 20px;
      list-style-type: none;
      background: #333333;
      color: #fff;
    }

  }

  input[type='checkbox'] {
    visibility: hidden;

    &:checked ~ .dropdown-menu {
      display: inline-block;
    }
  }


  .fa {
    font-size: 1.5em;
    cursor: pointer;
  }
}
