
#q-weather {
  margin: 6px 1px 10px 0px;
  color: #808080;
  font-size: 90%;
}

#weather-button {
  background-color: #F0F8FF;
  color: #808080;
  border-radius: 4px;
  font-size: 90%;
  height: 32px;
}
